zidane.jpg
*.mp4
*.pt
/yolo11n_ncnn_model
*.torchscript
*.avi
*.jpg
/__pycache__
/PeopleDetection/__pycache__
/People Detection.v9i.yolov11/test
/People Detection.v9i.yolov11/train
/People Detection.v9i.yolov11/valid
/runs/detect
